﻿@model ITWorld.Models.Product_CPU

<h2>Procesorius</h2>

@{
    ViewBag.Title = "CPU";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        img {
            float: left;
            padding-right: 5px;
        }
    </style>
</head>
<body>

    <div>
        <img src="@Model.Product.Image_URL" alt="Not found" height="200px" width="200px" />
        <h2 class="text-left" style="border-bottom:none; text-align:center;">@Model.Product.Name</h2>
        <h2 class="text-left" style="border-bottom:none; text-align:center;">Kaina: @Model.Product.Price €</h2>
        <h2 class="text-left" style="border-bottom:none; text-align:center;">Kiekis sandelyje: @Model.Product.Stock</h2>

    </div>
    <div>
        <table>
            <tr>
                <td>Gamintojas</td>
                <td>@Model.Product.Manufacturer</td>
            </tr>
            <tr>
                <td>Garantija</td>
                <td>@Model.Product.Guarrantee</td>
            </tr>
            <tr>
                <td>Branduolių skaičius</td>
                <td>@Model.CoreCount</td>
            </tr>
            <tr>
                <td>L1 atmintis</td>
                <td>@Model.L1</td>
            </tr>
            @if (Model.L2 != null)
            {
                <tr>
                    <td>L2 atmintis</td>
                    <td>@Model.L2</td>
                </tr>
            }
            @if (Model.L3 != null)
            {
                <tr>
                    <td>L3 atmintis</td>
                    <td>@Model.L3</td>
                </tr>
            }
            <tr>
                <td>Tipas</td>
                <td>@Model.Generation</td>
            </tr>
            <tr>
                <td>Turbo</td>
                <td>@Model.Turbo</td>
            </tr>
            <tr>
                <td>TDP</td>
                <td>@Model.TDP</td>
            </tr>


        </table>
    </div>
    <a id="btn_add" href="@Url.Action("Add", "Shopping",new { productID = Model.Product.ID })" class="btn btn-info" style="float:right">
        <span class="glyphicon glyphicon-shopping-cart"></span> Pridėtį į krepšelį
    </a>
    <div>
        @Html.ActionLink("Grįžti atgal", "Index", new { @class = "btn btn-default" })
    </div>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





