﻿@model ITWorld.Models.Product_Monitor

<h2>Monitorius</h2>

@{
    ViewBag.Title = "Case";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        img {
            float: left;
        }
    </style>
</head>
<body>

    <div>
        <img src="@Model.Product.Image_URL" alt="Not found" height="200px" width="200px" />
        <h2 class="text-left">@Model.Product.Name</h2>
        <a id="btn_add" href="@Url.Action("Add", "Shopping",new { productID = Model.Product.ID })" class="btn btn-info btn-lg" style="margin-left:60px; float:right">
            <span class="glyphicon glyphicon-shopping-cart"></span> Pridėtį į krepšelį
        </a>
        <h2 class="text-left">Kaina: @Model.Product.Price €</h2>
        <h2 class="text-left">Kiekis sandelyje: @Model.Product.Stock</h2>
    </div>
    <div>
        <table>
            <tr>
                <td>Gamintojas</td>
                <td>@Model.Product.Manufacturer</td>
            </tr>
            <tr>
                <td>Garantija</td>
                <td>@Model.Product.Guarrantee</td>
            </tr>
            <tr>
                <td>RGB</td>
                <td>@Model.Product.Is_RGB</td>
            </tr>
            <tr>
                <td>Dydis</td>
                <td>@Model.Size</td>
            </tr>
            <tr>
                <td>Atnaujinimo dažnis</td>
                <td>@Model.Refresh_rate</td>
            </tr>
            <tr>
                <td>Priėmimo greitis</td>
                <td>@Model.Input_lag</td>
            </tr>
            <tr>
                <td>Išorė</td>
                <td>@Model.Surface</td>
            </tr>
            <tr>
                <td>Monitor panel</td>
                <td>@Model.Panel</td>
            </tr>
            <tr>
                <td>Spalvų skaičius</td>
                <td>@Model.Color_count</td>
            </tr>
            <tr>
                <td>Kontrastas</td>
                <td>@Model.Contrast</td>
            </tr>
            <tr>
                <td>Aspect ratio/td>
                <td>@Model.aspect_ratio</td>
            </tr>
            <tr>
                <td>Išeities/įeities portai</td>
                <td>@Model.I_O</td>
            </tr>
            <tr>
                <td>Ryškumas</td>
                <td>@Model.Brightness</td>
            </tr>
            <tr>
                <td>Ekranas Liečiamas</td>
                <td>@Model.Touch_screen</td>
            </tr>
        </table>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

