﻿@model IEnumerable<ITWorld.ModelView.ShopingCart>
@{
    ViewBag.Title = "Case";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    double sum = 0;
}

<div>
    <fieldset>
        <h2>Prekės</h2>
    @if (Model != null)
    {
        if(Model.Count() != 0)
        {
        <table class="table table-responsive" id="paslaugos_tbl">
            <thead>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Paveiksliukas</th>
                    <th>Kaina</th>
                    <th>Kiekis</th>
                    <th>Pašalinti</th>
                    <th style="width: 100px"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    foreach (var item in Model)
                    {
                        <tr>

                            @{ sum = sum + item.product.Price * item.kiekis; }
                            <td>@item.product.Name</td>
                            <td><img src="@Url.Content(item.product.Image_URL)" height="100px" width="100px" /></td>
                            <td>@item.product.Price €</td>
                            <td>@item.kiekis</td>
                            <td>
                                <a id="btn_add" href="@Url.Action("Remove", "Shopping", new { productID = item.product.ID })" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Trinti
                                </a>
                            </td>
                        </tr>
                                    }
                                }
                <b><h3>Suma: @sum € </h3></b>
            </tbody>

            <div>
                <button onclick="location.href='@Url.Action("CreateOrder", "Order")'">Apmokėti</button>
            </div>
        </table>
        }
        else {<a id="nera-prekiu">Prekių nepavyko rasti</a>}
    }
    else{<a id="nera-prekiu">Prekių nepavyko rasti</a>}
</fieldset>
</div>