﻿
@{
    ViewBag.Title = "Administratoriaus meniu";
}

<h2>Administratoriaus meniu </h2>

<div>
    @Html.ActionLink("Žiūrėti vartotojų informacija", "ViewUsers", "Admin")
</div>
<div>
    @Html.ActionLink("Pridėti prekę", "Index", "Product")
</div>

<div>
    @Html.ActionLink("Žiūrėti visus užsakymus", "UserOrders", "Admin")
</div>

<div>
    @Html.ActionLink("Grįžti atgal", "Index", "Home")
</div>