﻿@model List<ITWorld.Models.User>

@{
    ViewBag.Title = "Vartotojų informacija";
}

<h2>Žiūrėti vartotojų informacija</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div>
    <h4>Vartotojai</h4>
    <hr />
    <table>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>

            <td>
                @Html.ActionLink("Žiūrėti", "ViewInfo", new { id = item.ID })
            </td>

            <td>
                @Html.ActionLink("Trinti", "DeleteUser", new { id = item.ID })
            </td>
            <td>
                @Html.ActionLink("Atnaujinti", "EditUser", new { id = item.ID })
            </td>
        </tr>
        }
    </table>

</div>
<p>
   
    @Html.ActionLink("Grįžti atgal", "AdminMeniu", "Admin")
</p>
