﻿@model Tuple<ITWorld.Models.User, List<ITWorld.Models.Address>>
@{
    ViewBag.Title = "Vartotojo informacija";
}

<h2>Vartotojo @Model.Item1.Username informacija</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>


<body>
    <table>
        <tr>
            <td>ID:</td>
            <td>@Html.DisplayFor(model => model.Item1.ID)</td>
        </tr>
        <tr>
            <td>Statutas:</td>
            <td>@Html.DisplayFor(model => model.Item1.Role.Role_Name)</td>
        </tr>
        <tr>
            <td>Slapyvardis:</td>
            <td>@Html.DisplayFor(model => model.Item1.Username)</td>
        </tr>
        <tr>
            <td>Vardas:</td>
            <td>@Html.DisplayFor(model => model.Item1.Name)</td>
        </tr>
        <tr>
            <td>Pavardė:</td>
            <td>@Html.DisplayFor(model => model.Item1.Last_Name)</td>
        </tr>
        <tr>
            <td>Elektroninis paštas:</td>
            <td>@Html.DisplayFor(model => model.Item1.Email)</td>
        </tr>
    </table>

</body>

<body>
    @if (Model.Item2.Count != 0)
    {
        <h2> @Model.Item1.Username pristatymo adresai</h2>
        <table>
            <tr>
                <th>
                    @Html.DisplayName("Vardas")
                </th>
                <th>
                    @Html.DisplayName("Pavardė")
                </th>
                <th>
                    @Html.DisplayName("Telefono numeris")
                </th>
                <th>
                    @Html.DisplayName("Miestas")
                </th>
                <th>
                    @Html.DisplayName("Adresas")
                </th>
                <th>
                    @Html.DisplayName("Pašto kodas")
                </th>
            </tr>
            @foreach (var item in Model.Item2)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postal_Code)
                    </td>
                </tr>
            }
        </table>

    }
    else
    { <h2> @Model.Item1.Username pristatymo adresai</h2>
    <div>Duomenų nebuvo rasta</div>}
</body>

<div>
    @Html.ActionLink("Grįžti atgal", "ViewUsers", "Admin")
</div>

