﻿@model IEnumerable<ITWorld.Models.Product>
@{
    ViewBag.Title = "Surastos prekės";
}

<h2>Surastos prekės</h2>

<div class="container">
     <h1 class="text-center"></h1>
     @foreach(var item in Model)
     {
         <div class="col-md-4" style="border:2px solid black">
             <div style="text-align: center; border-bottom: 2px solid maroon">
                 <h3> @item.Name</h3>
             </div>
             <div>
                 <div class="col-md-8" style="align-content:center" >
                 <img src="@Url.Content(item.Image_URL)" height="200px" width="200px" />
                 </div>
             </div>
            <div class="col-md-8" style="font-size: 18px; border-top: 2px solid marron; padding: 2px">
                <b>@item.Price €</b>
            </div>
            <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid marron; padding: 2px">
                @Html.ActionLink("Plačiau", "ViewInfo", new { id = item.ID })
            </div>
         </div>
     }
    @if(Model.Count() == 0)
    {
        <h3>Nepavyko surasti jūsų norimo produkto</h3>
    }
</div>

