﻿
@{
    ViewBag.Title = "Keisti vartotojo duomenis";
}

<h2>Keisi duomenis</h2>

<div>
<li>@Html.ActionLink("Keisti Elektorinį paštą", "ChangeEmail", "User")</li>
<li>@Html.ActionLink("Keisti slaptažodį", "ChangePassword", "User")</li>
</div>
<div>
    @Html.ActionLink("Grįžti į pradinį", "Index", "Home")
</div>
