﻿@model List<ITWorld.Models.Address>

@{
    ViewBag.Title = "Pristatymo adresai";
}


<h2>Pristatymo adresai</h2>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    divSpace {
        padding: 25px;
    }
</style>

<div>
    <hr />

    <div>
        <button onclick="location.href='@Url.Action("AddAddress", "User")'">Pridėti adresą</button>
    </div>
    @if (Model.Count != 0)
    {
        <table>
            <tr>
                <th>
                    @Html.DisplayName("Vardas")
                </th>
                <th>
                    @Html.DisplayName("Pavardė")
                </th>
                <th>
                    @Html.DisplayName("Telefono numeris")
                </th>
                <th>
                    @Html.DisplayName("Miestas")
                </th>
                <th>
                    @Html.DisplayName("Adresas")
                </th>
                <th>
                    @Html.DisplayName("Pašto kodas")
                </th>
                <th>
                    @Html.DisplayName("Ištrinti")
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Postal_Code)
                    </td>
                    <td>
                        @Html.ActionLink("Trinti", "DeleteAddress", new { id = item.id })
                    </td>
                </tr>
            }
        </table>
    }
    else
    { <div>Duomenų nebuvo rasta</div>}

    <div style="line-height:100%">
        @Html.ActionLink("Grįžti į pradinį", "Index", "Home")
    </div>

</div>

