﻿@model ITWorld.ModelView.OrderViewInformation


@{
    ViewBag.Title = "Užsakymo informacija";
}

<div>
    <h4>Užsakymo informacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentWay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentWay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sum) €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

<div>
    <fieldset>
        <h2>Prekės</h2>
        @if (Model != null)
        {
            if (Model.cart.Count() != 0)
            {
                <table class="table table-responsive" id="paslaugos_tbl">
                    <thead>
                        <tr>
                            <th>Pavadinimas</th>
                            <th>Paveiksliukas</th>
                            <th>Kaina</th>
                            <th>Kiekis</th>
                            <th style="width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {

                            foreach (var item in Model.cart)
                            {
                                <tr>
                                    <td>@item.product.Name</td>
                                    <td><img src="@Url.Content(item.product.Image_URL)" height="100px" width="100px" /></td>
                                    <td>@item.product.Price €</td>
                                    <td>@item.kiekis</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {<a id="nera-prekiu">Prekių nepavyko rasti</a>}
        }
        else
        {<a id="nera-prekiu">Prekių nepavyko rasti</a>}
    </fieldset>
</div>

<p>
    @Html.ActionLink("Grįžti atgal", "UserOrders")
</p>
