﻿
@{
    ViewBag.Title = "Vartotojo informacija";
}

<h2>Vartotojo informacija</h2>

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td>Statutas:</td>
            <td>@ViewBag.Role</td>
        </tr>
        <tr>
            <td>Slapyvardis:</td>
            <td>@ViewBag.Username</td>
        </tr>
        <tr>
            <td>Vardas:</td>
            <td>@ViewBag.Name</td>
        </tr>
        <tr>
            <td>Pavardė:</td>
            <td>@ViewBag.Lastname</td>
        </tr>
        <tr>
            <td>Elektroninis paštas:</td>
            <td>@ViewBag.Email</td>
        </tr>
    </table>

</body>

<div>
    @Html.ActionLink("Grįžti į pradinį", "Index","Home")
</div>

</html>