﻿@model IEnumerable<ITWorld.ModelView.OrderViewList>

@{
    ViewBag.Title = "Užsakymai";
}


<h2>Užsakymų sąrašas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentWay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.OrderID, "OrderInformation", new { id = item.OrderID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentWay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Grįžti į pradinį", "Index", "Home")
</div>
