﻿@model ITWorld.Models.Product_Mouse

<h2>Monitorius</h2>

@{
    ViewBag.Title = "Case";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        img {
            float: left;
        }
    </style>
</head>
<body>

    <div>
        <img src="@Model.Product.Image_URL" alt="Not found" height="200px" width="200px" />
        <h2 class="text-left" style="border-bottom:none; text-align:center;">@Model.Product.Name</h2>
        <h2 class="text-left" style="border-bottom:none; text-align:center;">Kaina: @Model.Product.Price €</h2>
        <h2 class="text-left" style="border-bottom:none; text-align:center;">Kiekis sandelyje: @Model.Product.Stock</h2>
    </div>
    <div>
        <table>
            <tr>
                <td>Gamintojas</td>
                <td>@Model.Product.Manufacturer</td>
            </tr>
            <tr>
                <td>Garantija</td>
                <td>@Model.Product.Guarrantee</td>
            </tr>
            <tr>
                <td>RGB</td>
                <td>@Model.Product.Is_RGB</td>
            </tr>
            <tr>
                <td>Bevielės</td>
                <td>@Model.Wireless</td>
            </tr>
            <tr>
                <td>Laido ilgis</td>
                <td>@Model.Wire_length</td>
            </tr>
            <tr>
                <td>DPI</td>
                <td>@Model.DPI</td>
            </tr>
            <tr>
                <td>DPI nustatymai</td>
                <td>@Model.DPI_setting</td>
            </tr>
            <tr>
                <td>Nuotoliniu valdymu</td>
                <td>@Model.DPI</td>
            </tr>
            <tr>
                <td>Mygtukų skaičius</td>
                <td>@Model.Button_count</td>
            </tr>
            <tr>
                <td>Paspaudimų skaičius</td>
                <td>@Model.Click_rating</td>
            </tr>

        </table>
        <a id="btn_add" href="@Url.Action("Add", "Shopping",new { productID = Model.Product.ID })" class="btn btn-info" style="margin-left:60px; float:right">
            <span class="glyphicon glyphicon-shopping-cart"></span> Pridėtį į krepšelį
        </a>
        <div>
            @Html.ActionLink("Grįžti atgal", "Index", new { @class = "btn btn-default" })
        </div>
    </div>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


