﻿@model ITWorld.Models.Product_Headphones

@{
    ViewBag.Title = "Headphones";
}

<h2>Ausinės</h2>

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        img {
            float: left;
        }
    </style>
</head>
<body>

    <div>
        <img src="@Url.Content(Model.Product.Image_URL)" height="200px" width="200px" />
        <h2 class="text-left">@Model.Product.Name</h2>
        <a id="btn_add" href="@Url.Action("Add", "Shopping",new { productID = Model.Product.ID })" class="btn btn-info btn-lg" style="margin-left:60px; float:right">
            <span class="glyphicon glyphicon-shopping-cart"></span> Pridėtį į krepšelį
        </a>
        <h2 class="text-left">Kaina: @Model.Product.Price €</h2>
        <h2 class="text-left">Kiekis sandelyje: @Model.Product.Stock</h2>
    </div>
    <div>
        <table>
            <tr>
                <td>Gamintojas</td>
                <td>@Model.Product.Manufacturer</td>
            </tr>
            <tr>
                <td>Garantija</td>
                <td>@Model.Product.Guarrantee</td>
            </tr>
            <tr>
                <td>RGB</td>
                <td>@Model.Product.Is_RGB</td>
            </tr>
            <tr>
                <td>Mikrofonas</td>
                <td>@Model.Microphone</td>
            </tr>
            <tr>
                <td>Bekontaktės</td>
                <td>@Model.Wireless</td>
            </tr>
            <tr>
                <td>Dažnis</td>
                <td>@Model.Freq_range</td>
            </tr>
            <tr>
                <td>Laido ilgis</td>
                <td>@Model.Wire_length</td>
            </tr>
            <tr>
                <td>Astumas</td>
                <td>@Model.Distance</td>
            </tr>
            <tr>
                <td>Tipas</td>
                <td>@Model.Type</td>
            </tr>
            <tr>
                <td>Prijungimas</td>
                <td>@Model.Connection</td>
            </tr>
            <tr>
                <td>Bluetooth versija</td>
                <td>@Model.Bluetooth_version</td>
            </tr>
        </table>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
