﻿@model ITWorld.ModelView.ComputerEditModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Susidėti savo kompiuterį</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.computer.Ram_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.Ram_ID, Model.Product_RAMs, "------------------------", new { @class = "form-control", @id = "choose" })
            @Html.ValidationMessageFor(model => model.computer.Ram_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.computer.MB_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.MB_ID, Model.Product_MotherBoards, "------------------------", new { @class = "form-control", @id = "choose2" })
            @Html.ValidationMessageFor(model => model.computer.MB_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.computer.GPU_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.GPU_ID, Model.Product_Graphics_Cards, "------------------------", new { @class = "form-control", @id = "choose3" })
            @Html.ValidationMessageFor(model => model.computer.GPU_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.computer.CPU_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.CPU_ID, Model.Product_CPUs, "------------------------", new { @class = "form-control", @id = "choose4" })
            @Html.ValidationMessageFor(model => model.computer.CPU_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.computer.ROM_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.ROM_ID, Model.Product_Memorys, "------------------------", new { @class = "form-control", @id = "choose5" })
            @Html.ValidationMessageFor(model => model.computer.ROM_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.computer.Case_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.Case_ID, Model.Product_Cases, "------------------------", new { @class = "form-control", @id = "choose6" })
            @Html.ValidationMessageFor(model => model.computer.Case_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.computer.Cooler_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.Cooler_ID, Model.Product_Coolers, "------------------------", new { @class = "form-control", @id = "choose7" })
            @Html.ValidationMessageFor(model => model.computer.Cooler_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.computer.PSU_ID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.computer.PSU_ID, Model.Product_PSUs, "------------------------", new { @class = "form-control", @id = "choose8" })
            @Html.ValidationMessageFor(model => model.computer.PSU_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div style="color:red">
        @Html.ValidationMessage("CPUErr")
        @Html.ValidationMessage("RAMErr")
        @Html.ValidationMessage("DetalErr")
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Patvirtinti" class="btn btn-default" />
        </div>
    </div>
</div>
}


@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#choose").chosen();
        });
        $(function () {
            $("#choose2").chosen();
        });
        $(function () {
            $("#choose3").chosen();
        });
        $(function () {
            $("#choose4").chosen();
        });
        $(function () {
            $("#choose5").chosen();
        });
        $(function () {
            $("#choose6").chosen();
        });
        $(function () {
            $("#choose7").chosen();
        });
        $(function () {
            $("#choose8").chosen();
        });

    </script>
}
