﻿@model ITWorld.Models.Product_Cooler

<h2>Aušintuvas</h2>

@{
    ViewBag.Title = "Cooler";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        img {
            float: left;
        }
    </style>
</head>
<body>

    <div>
        <img src="@Model.Product.Image_URL" alt="Not found" height="200px" width="200px" />
        <h2 class="text-left">@Model.Product.Name</h2>
        <a id="btn_add" href="@Url.Action("Add", "Shopping",new { productID = Model.Product.ID })" class="btn btn-info btn-lg" style="margin-left:60px; float:right">
            <span class="glyphicon glyphicon-shopping-cart"></span> Pridėtį į krepšelį
        </a>
        <h2 class="text-left">Kaina: @Model.Product.Price €</h2>
        <h2 class="text-left">Kiekis sandelyje: @Model.Product.Stock</h2>
    </div>
    <div>
        <table>
            <tr>
                <td>Gamintojas</td>
                <td>@Model.Product.Manufacturer</td>
            </tr>
            <tr>
                <td>Garantija</td>
                <td>@Model.Product.Guarrantee</td>
            </tr>
            <tr>
                <td>RGB</td>
                <td>@Model.Product.Is_RGB</td>
            </tr>
            <tr>
                <td>TDP</td>
                <td>@Model.TDP</td>
            </tr>
            <tr>
                <td>Dydis</td>
                <td>@Model.Size</td>
            </tr>
            <tr>
                <td>Aušinimas vandeniu</td>
                <td>@Model.Water</td>
            </tr>
            <tr>
                <td>Spalva</td>
                <td>@Model.Color</td>
            </tr>
            <tr>
                <td>Triukšmo lygis</td>
                <td>@Model.Noise_Level</td>
            </tr>
            <tr>
                <td>RPM</td>
                <td>@Model.RPM</td>
            </tr>
            <tr>
                <td>CPU Tipas</td>
                <td>@Model.Compatable_Socket</td>
            </tr>


        </table>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




