﻿@model ITWorld.Models.Product_Case

<h2>Kompiuterio Dėžė</h2>

@{
    ViewBag.Title = "Case";
}

<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        td, th {
            border: 1px solid black;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        img {
            float: left;
        }
    </style>
</head>
<body>

    <div>
        <img src="@Model.Product.Image_URL" alt="Not found" height="200px" width="200px" />
        <h2 class="text-left" style="border-bottom:none; text-align:center;">@Model.Product.Name</h2>
        <h2 class="text-left" style="border-bottom:none; text-align:center;">Kaina: @Model.Product.Price €</h2>
        <h2 class="text-left" style="border-bottom:none; text-align:center;">Kiekis sandelyje: @Model.Product.Stock</h2>

    </div>
    <div>
        <table>
            <tr>
                <td>Gamintojas</td>
                <td>@Model.Product.Manufacturer</td>
            </tr>
            <tr>
                <td>Garantija</td>
                <td>@Model.Product.Guarrantee</td>
            </tr>
            <tr>
                <td>RGB</td>
                <td>@Model.Product.Is_RGB</td>
            </tr>
            <tr>
                <td>Šoninis langas</td>
                <td>@Model.Side_Window</td>
            </tr>
            <tr>
                <td>Dydis</td>
                <td>@Model.Size_cat</td>
            </tr>
            <tr>
                <td>Išmatavimai</td>
                <td>@Model.Dimension</td>
            </tr>
            <tr>
                <td>Papildomi dėklai</td>
                <td>@Model.Expansio_Slots</td>
            </tr>
            <tr>
                <td>Palaikomos motininės plokštės</td>
                <td>@Model.Supported_MB</td>
            </tr>
            <tr>
                <td>Stiklas</td>
                <td>@Model.Tempered_Glass</td>
            </tr>
            <tr>
                <td>Perkrovimo mygtukas</td>
                <td>@Model.Reset_Button</td>
            </tr>
            <tr>
                <td>C520 slots</td>
                <td>@Model.C525_slots</td>
            </tr>
            <tr>
                <td>C25 slots</td>
                <td>@Model.C25_slots</td>
            </tr>
        </table>
        <a id="btn_add" href="@Url.Action("Add", "Shopping",new { productID = Model.Product.ID })" class="btn btn-info" style="margin-left:60px; float:right">
            <span class="glyphicon glyphicon-shopping-cart"></span> Pridėtį į krepšelį
        </a>
        <div>
            @Html.ActionLink("Grįžti atgal", "Index", new { @class = "btn btn-default" })
        </div>
    </div>
   
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

