﻿@model ITWorld.ModelView.Case

@{
    ViewBag.Title = "Add Case";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            margin: 50px 0 0 0;
            width: 200px;
            background-color: #f1f1f1;
            position: sticky;
            height: 100%;
            float : left;
        }

            .sidebar a {
                display: block;
                color: black;
                padding: 16px;
                text-decoration: none;
            }

                .sidebar a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                .sidebar a:hover:not(.active) {
                    background-color: #555;
                    color: white;
                }

        div.content {
            padding : 0 0 0 50px;
            float : left;
        }
        div.col-md-10 {
            padding : 0 0 0 75px;
        }
        div.checkbox {
            padding : 0 0 0 0 75px;
        }
    </style>
</head>
<div class="sidebar" id="side">
    <a href="~/Product" class="in-active">Kategorija</a>
    <a href="~/Product/AddCase" class="active">Case</a>
    <a href="~/Product/AddComputer" class="in-active">Computer</a>
    <a href="~/Product/AddCooler" class="in-active">Cooler</a>
    <a href="~/Product/AddCPU" class="in-active">CPU</a>
    <a href="~/Product/AddGraphicsCard" class="in-active">Graphics Card</a>
    <a href="~/Product/AddHeadphones" class="in-active">Headphones</a>
    <a href="~/Product/AddKeyboard" class="in-active">Keyboard</a>
    <a href="~/Product/AddMB" class="in-active">MotherBoard</a>
    <a href="~/Product/AddMemory" class="in-active">Memory</a>
    <a href="~/Product/AddMonitor" class="in-active">Monitor</a>
    <a href="~/Product/AddMouse" class="in-active">Mouse</a>
    <a href="~/Product/AddMousePad" class="in-active">MousePad</a>
    <a href="~/Product/AddPSU" class="in-active">PSU</a>
    <a href="~/Product/AddRAM" class="in-active">RAM</a>
    <a href="~/Product/AddStrips" class="in-active">Strips</a>
</div>
<script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("side");
        var btns = header.getElementsByClassName("in-active");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                if (current.length > 0) {
                    current[0].className = current[0].className.replace(" active", "");
                }
                this.className += " active";
            });
        }
</script>
<div class="content">
    <h2>Add Case</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Add Case</h4>
            <hr />
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(Model => Model.product.Category, new { @Value = "Case" })
                        @Html.ValidationMessageFor(Model => Model.product.Category, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(Model => Model.product.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.product.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(Model => Model.product.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.product.Price, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Manufacturer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(Model => Model.product.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.product.Manufacturer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(Model => Model.product.Stock, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.product.Stock, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Guarrantee, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(Model => Model.product.Guarrantee, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.product.Guarrantee, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Is_RGB, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(Model => Model.product.Is_RGB)
                            @Html.ValidationMessageFor(Model => Model.product.Is_RGB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.product.Image_URL, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(Model => Model.product.Image_URL, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(Model => Model.product.Image_URL, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.Side_Window, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(Model => Model.pcase.Side_Window)
                        @Html.ValidationMessageFor(Model => Model.pcase.Side_Window, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.Size_cat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.Size_cat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.Size_cat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.Dimension, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.Dimension, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.Dimension, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.Expansio_Slots, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.Expansio_Slots, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.Expansio_Slots, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.Supported_MB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.Supported_MB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.Supported_MB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.Tempered_Glass, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.Tempered_Glass, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.Tempered_Glass, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.Reset_Button, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.Reset_Button, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.Reset_Button, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.C525_slots, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.C525_slots, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.C525_slots, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.pcase.C25_slots, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.pcase.C25_slots, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.pcase.C25_slots, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
