﻿@model ITWorld.ModelView.ComputerEditModel

@{
    ViewBag.Title = "AddComputer";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            margin: 50px 0 0 0;
            width: 200px;
            background-color: #f1f1f1;
            position: sticky;
            height: 100%;
            float: left;
        }

            .sidebar a {
                display: block;
                color: black;
                padding: 16px;
                text-decoration: none;
            }

                .sidebar a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                .sidebar a:hover:not(.active) {
                    background-color: #555;
                    color: white;
                }

        div.content {
            padding: 0 0 0 50px;
            float: left;
        }

        div.col-md-10 {
            padding: 0 0 0 75px;
        }

        div.checkbox {
            padding: 0 0 0 0 75px;
        }
    </style>
</head>
<div class="sidebar" id="side">
    <a href="~/Product" class="in-active">Kategorija</a>
    <a href="~/Product/AddCase" class="in-active">Case</a>
    <a href="~/Product/AddComputer" class="active">Computer</a>
    <a href="~/Product/AddCooler" class="in-active">Cooler</a>
    <a href="~/Product/AddCPU" class="in-active">CPU</a>
    <a href="~/Product/AddGraphicsCard" class="in-active">Graphics Card</a>
    <a href="~/Product/AddHeadphones" class="in-active">Headphones</a>
    <a href="~/Product/AddKeyboard" class="in-active">Keyboard</a>
    <a href="~/Product/AddMB" class="in-active">MotherBoard</a>
    <a href="~/Product/AddMemory" class="in-active">Memory</a>
    <a href="~/Product/AddMonitor" class="in-active">Monitor</a>
    <a href="~/Product/AddMouse" class="in-active">Mouse</a>
    <a href="~/Product/AddMousePad" class="in-active">MousePad</a>
    <a href="~/Product/AddPSU" class="in-active">PSU</a>
    <a href="~/Product/AddRAM" class="in-active">RAM</a>
    <a href="~/Product/AddStrips" class="in-active">Strips</a>
</div>
<div class="content">
    <h2>AddComputer</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Product_Computer</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(Model => Model.Product.Category, new { @Value = "Computer" })
                    @Html.ValidationMessageFor(Model => Model.Product.Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.Product.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Product.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.Product.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Product.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Manufacturer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.Product.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Product.Manufacturer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Stock, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.Product.Stock, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Product.Stock, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Guarrantee, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.Product.Guarrantee, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Product.Guarrantee, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Is_RGB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(Model => Model.Product.Is_RGB)
                        @Html.ValidationMessageFor(Model => Model.Product.Is_RGB, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(Model => Model.Product.Image_URL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(Model => Model.Product.Image_URL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(Model => Model.Product.Image_URL, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.computer.Ram_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.Ram_ID, Model.Product_RAMs, "------------------------", new { @class = "form-control", @id = "choose" })
                    @Html.ValidationMessageFor(model => model.computer.Ram_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.computer.MB_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.MB_ID, Model.Product_MotherBoards, "------------------------", new { @class = "form-control", @id = "choose2" })
                    @Html.ValidationMessageFor(model => model.computer.MB_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.computer.GPU_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.GPU_ID, Model.Product_Graphics_Cards, "------------------------", new { @class = "form-control", @id = "choose3" })
                    @Html.ValidationMessageFor(model => model.computer.GPU_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.computer.CPU_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.CPU_ID, Model.Product_CPUs, "------------------------", new { @class = "form-control", @id = "choose4" })
                    @Html.ValidationMessageFor(model => model.computer.CPU_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.computer.ROM_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.ROM_ID, Model.Product_Memorys, "------------------------", new { @class = "form-control", @id = "choose5" })
                    @Html.ValidationMessageFor(model => model.computer.ROM_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.computer.Case_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.Case_ID, Model.Product_Cases, "------------------------", new { @class = "form-control", @id = "choose6" })
                    @Html.ValidationMessageFor(model => model.computer.Case_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.computer.Cooler_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.Cooler_ID, Model.Product_Coolers, "------------------------", new { @class = "form-control", @id = "choose7" })
                    @Html.ValidationMessageFor(model => model.computer.Cooler_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.computer.PSU_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.computer.PSU_ID, Model.Product_PSUs, "------------------------", new { @class = "form-control", @id = "choose8" })
                    @Html.ValidationMessageFor(model => model.computer.PSU_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="color:red">
                @Html.ValidationMessage("CPUErr")
                @Html.ValidationMessage("RAMErr")
                @Html.ValidationMessage("DetalErr")
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Patvirtinti" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>

    @section Scripts
{
        <script type="text/javascript">
            $(function () {
                $("#choose").chosen();
            });
            $(function () {
                $("#choose2").chosen();
            });
            $(function () {
                $("#choose3").chosen();
            });
            $(function () {
                $("#choose4").chosen();
            });
            $(function () {
                $("#choose5").chosen();
            });
            $(function () {
                $("#choose6").chosen();
            });
            $(function () {
                $("#choose7").chosen();
            });
            $(function () {
                $("#choose8").chosen();
            });
            // Add active class to the current button (highlight it)
            var header = document.getElementById("side");
            var btns = header.getElementsByClassName("in-active");
            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    if (current.length > 0) {
                        current[0].className = current[0].className.replace(" active", "");
                    }
                    this.className += " active";
                });
            }
        </script>
    }
