﻿<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: sticky;
            height: 100%;
            overflow: auto;
        }

            .sidebar a {
                display: block;
                color: black;
                padding: 16px;
                text-decoration: none;
            }

                .sidebar a.active {
                    background-color: #4CAF50;
                    color: white;
                }

                .sidebar a:hover:not(.active) {
                    background-color: #555;
                    color: white;
                }

        div.content {
            margin-left: 200px;
        }
    </style>
</head>
<div class="sidebar" id="side">
    <a href="~/Product" class="in-active">Kategorija</a>
    <a href="~/Product/AddCase" class="in-active">Case</a>
    <a href="~/Product/AddComputer" class="in-active">Computer</a>
    <a href="~/Product/AddCooler" class="in-active">Cooler</a>
    <a href="~/Product/AddCPU" class="in-active">CPU</a>
    <a href="~/Product/AddGraphicsCard" class="in-active">Graphics Card</a>
    <a href="~/Product/AddHeadphones" class="in-active">Headphones</a>
    <a href="~/Product/AddKeyboard" class="in-active">Keyboard</a>
    <a href="~/Product/AddMB" class="in-active">MotherBoard</a>
    <a href="~/Product/AddMemory" class="in-active">Memory</a>
    <a href="~/Product/AddMonitor" class="in-active">Monitor</a>
    <a href="~/Product/AddMouse" class="in-active">Mouse</a>
    <a href="~/Product/AddMousePad" class="in-active">MousePad</a>
    <a href="~/Product/AddPSU" class="in-active">PSU</a>
    <a href="~/Product/AddRAM" class="in-active">RAM</a>
    <a href="~/Product/AddStrips" class="in-active">Strips</a>
</div>
<script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("side");
        var btns = header.getElementsByClassName("in-active");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                if (current.length > 0) {
                    current[0].className = current[0].className.replace(" active", "");
                }
                this.className += " active";
            });
        }
</script>
