﻿@model ITWorld.ModelView.OrderEditView

@{
    ViewBag.Title = "Užsakymas";
}

<h2>Registruoti užsakymą</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.paymentID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.paymentID, Model.paymentsMethods, "--------------", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.paymentID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.addressID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.addressID, Model.address, "--------------", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.addressID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Užsakyti" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Grįžti atgal", "DeliveryAddress", "User")
</div>
