﻿@model IEnumerable<ITWorld.ModelView.BankViewModel>

    <h2>Galimi bankai</h2>

    <div class="container container-product">
        @using (Html.BeginForm("Index", "Memory", FormMethod.Post))
        {
        }
        <h1 class="text-center"></h1>
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="border:2px solid black">
                <div style="text-align: center; border-bottom: 2px solid maroon">
                    <h3> @Html.ActionLink(item.name, "PaymentBank2", new { dummy = item.name })</h3>
                </div>
                <div>
                    <div class="col-md-8" style="align-content:center">
                        <img src="@Url.Content(item.immage)" style='height: 100%; width: 100%; object-fit: contain' />
                    </div>
                </div>
            </div>
        }
    </div>