﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;

}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

h2 {
    border-bottom: 1px solid black;
    margin-top: 4rem;
}

h3 {
    font-size:18px;
}

hr {
    border-top: 1px solid black;
}

a {
    color: black;
}

#krepselis {
    padding-left: 5px;
    padding-top: 1px;
}

/* Override the default bootstrap behavior where horizontal description lists 

   will truncate terms that are too long to fit in the left columnmnmnmn 

*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

/* Registracija */

.container.body-content #PageHeader {
    border-bottom: 1px solid black;
    margin-top: 4rem;
}

.container.body-content .field-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.container.body-content .form-row {
    display: flex;
    flex-wrap: wrap;
}

.container.body-content .form-row-wide {
    clear: both;
}

.container.body-content .form-row.form-row-wide {
    float: left !important;
    margin: 0 0 18px !important;
    width: 50% !important;
}

.container.body-content .form-row label {
    display:block;
}

.container.body-content .text {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    border: none;
    border-bottom: 2px solid black;
}

.container.body-content .register-img {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-height: 200px;
    margin-bottom: 5rem;
}

.container.body-content .btn-create {
    margin-top: 5rem;
    margin-right: 21rem;
    background-color: black;
    color:white;
}

.container.body-content span {
    display:flex;
    margin-top: 1rem;
}

.container.body-content label {
    font-size: 15px;
}

/* Prisijungimas */

.container.body-content .login-img {
    height: 250px;
    margin-bottom: 5rem;
}


/* Namu Puslapis */

#header-info {
    margin-top: -57rem;
    color: white;
    font-size: 5rem;
}

input#search-button {
    background-color: transparent !important;
    color: white !important;
}

input#search-button:hover {
   background-color: white !important;
   color: black !important;
}

.navbar-nav .btn-cart {
    font-size: 14px;
    color: #9d9d9d !important;
}

.navbar-nav .btn-cart :hover{
    font-size: 14px;
    color: white !important;
}


/* Kategoriju Puslapis */

.container.body-content .row-category {
    margin: 8px -16px !important;
    padding-top: 3rem;
}

.container.body-content .column-category {
    float: left !important;
    width: 33.33% !important;
}

.container.body-content .row-category :after {
    content: "" !important;
    display: table !important;
    clear: both !important;
}

.container.body-content .content-category {
    background-color: white !important;
    padding: 35px !important;
}

.container.body-content #img-category {
    width: 150px !important;
    height: 150px !important;
}

.container.body-content #text-category {
    font-family: Arial !important;
}

.container.body-content #category-header {
    border-bottom: 1px solid black;
    margin-top: 4rem;
}

/* Kategorijos atskirai */

.container.body-content .container-product {
    margin-top: 5rem;
}

/* Krepselis */

.container.body-content #nera-prekiu {
    margin-top:10rem;
}

/* Admin header */

.dropbtn {
    background-color: transparent !important;
    font-size: 14px !important;
    padding: 0px !important;
    padding-left: 5px !important;
}

.dropdown-content :hover {
    background-color: black !important;
    color: white !important;
    text-decoration: none !important;
}

/* Detail inforamtion about products */

.glyphicon-shopping-cart {
    margin-top: 0rem !important;
    display: contents !important;
}