﻿@model IEnumerable<ITWorld.Models.Product_Keyboard>
@{
    ViewBag.Title = "Keyboards";
}

<h2>Klaviatūros</h2>

<div class="container container-product">
    @using (Html.BeginForm("Index", "Keyboard", FormMethod.Post))
    {
        if (ViewBag.Empty == null)
        {
            <div style="top :0 ; left: 0;">
                <div data-role="rangeslider">
                    <label for="price-min">Minimali kaina:</label>
                    <input type="number" name="min" value="@ViewBag.min" min="@ViewBag.masterMin" max="@ViewBag.masterMax">
                    <label for="price-max">Maksimali kaina:</label>
                    <input type="number" name="max" value="@ViewBag.max" min="@ViewBag.masterMin" max="@ViewBag.masterMax">
                </div>
                <input type="submit" value="Filtruoti" />
            </div>
        }
        else
        {
            @ViewBag.Empty
        }
    }
    <h1 class="text-center"></h1>
    @foreach (var item in Model)
    {
        <div class="col-md-4" style="border:2px solid black">
            <div style="text-align: center; border-bottom: 2px solid maroon">
                <h3> @item.Product.Name</h3>
            </div>
            <div>
                <div class="col-md-8" style="align-content:center">
                    <img src="@Url.Content(item.Product.Image_URL)" height="200px" width="200px" />
                </div>
            </div>
            <div class="col-md-8" style="font-size: 18px; border-top: 2px solid marron; padding: 2px">
                <b>@item.Product.Price €</b>
            </div>
            <div class="col-md-4" style="text-align: right; margin-bottom: 10px; border-top: 2px solid marron; padding: 2px">
                @Html.ActionLink("Plačiau", "ViewInfo", new { id = item.ID })
            </div>
        </div>
    }
</div>





