﻿@{
    ViewBag.Title = "Kategorijos";
}

<div class="container-category">
    <h2 id="category-header">Kategorijos</h2>

    <div class="row row-category">
        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Kompiuterio dėžės", "Index", "Case")</h4>
                <img src="http://www.skytech.lt/images/large/66/2040666.jpg" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Procesoriai", "Index", "CPU")</h4>
                <img src="http://www.skytech.lt/images/large/5/2484505.jpg" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Vaizdo plokštės", "Index", "GPU")</h4>
                <img src="http://www.skytech.lt/images/large/77/2809377.jpg" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Klaviatūros", "Index", "Keyboard")</h4>
                <img src="http://www.skytech.lt/images/large/11/2667911.jpg" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Atmintis", "Index", "Memory")</h4>
                <img src="http://www.skytech.lt/images/large/38/2345738.png" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Monitoriai", "Index", "Monitor")</h4>
                <img src="http://www.skytech.lt/images/large/34/2572834.jpg" style="width:100%" id="img-category" />
            </div>
        </div>


        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Pelės", "Index", "Mouse")</h4>
                <img src="http://www.skytech.lt/images/large/57/2635757.jpg" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Motininės plokštės", "Index", "Motherboard")</h4>
                <img src="http://www.skytech.lt/images/large/17/2354817.jpg" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Maitinimo blokai", "Index", "PSU")</h4>
                <img src="http://www.skytech.lt/images/large/84/1564084.jpg" style="width:100%" id="img-category" />
            </div>
        </div>


        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("RAM atmintis", "Index", "RAM")</h4>
                <img src="http://www.skytech.lt/images/large/53/2770553.png" style="width:100%" id="img-category" />
            </div>
        </div>

        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("RGB Juostelės", "Index", "Strips")</h4>
                <img src="http://www.skytech.lt/images/large/3/819503.jpg" style="width:100%" id="img-category" />
            </div>
        </div>
        <div class="column-category">
            <div class="content-category">
                <h4 id="text-category">@Html.ActionLink("Stacionarūs kompiuteriai", "Index", "Computer")</h4>
                <img src="https://www.varle.lt/static/uploads/products/281/sta/stacionarus-kompiuteris-asus-rog-strix-gl12cx-de010t.png" style="width:100%" id="img-category" />
            </div>
        </div>

    </div>
</div>
