﻿@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
    </style>
</head>
<body>
    <div class="header">
        <img src="~/Images/Best-Gaming-Setups.jpg" />
        <div class="header-text text-center">
            <h1 id="header-info">IT WORLD</h1>
        </div>
    </div>
</body>
</html>
