﻿@model ITWorld.Models.User

@{
    ViewBag.Title = "Prisijungimas";
}





@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h2 id="PageHeader">Prisijungimas</h2>
    <div class="row-ing text-center">
        <img src="~/Images/login.jpg" class="login-img" />
    </div>
    <div class="field-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row form-row-wide col-12 col-md-6">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "form-row form-row-wide col-12 col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "text" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row form-row-wide col-12 col-md-6">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-row form-row-wide col-12 col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "text" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Prisijungti" class="btn btn-create" />
            </div>

        <div class="form-group">
            <div style="color:red" class="col-md-offset-2 col-md-10">
                <label>@ViewBag.Notification</label>
            </div>
        </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Grįžti į pradinį", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
