﻿@model ITWorld.Models.User

@{
    ViewBag.Title = "Registracija";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h2 id="PageHeader">Registracija</h2>
    <div class="row-ing text-center">
        <img src="~/Images/register.jpg" class="register-img" />
    </div>
    <div class="field-wrapper">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-row form-row-wide col-12 col-md-6">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "form-row form-row-wide col-12 col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "text" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row form-row-wide col-12 col-md-6">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-row form-row-wide col-12 col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "text" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row form-row-wide col-12 col-md-6">
            @Html.LabelFor(model => model.Last_Name, htmlAttributes: new { @class = "form-row form-row-wide col-12 col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "text" } })
                @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row form-row-wide col-12 col-md-6">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-row form-row-wide col-12 col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "text" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row form-row-wide col-12 col-md-6">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-row form-row-wide col-12 col-md-6" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "text" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>


            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Sukurti paskyrą" class="btn btn-create" />
            </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Grįžti atgal", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
