﻿<!DOCTYPE html>
<html>
<style>
    .dropbtn {
        background-color: #101010;
        padding: 12px;
        font-size: 12px;
        border: none;
        text-align: center
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #101010;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #101010;
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ITWORLD</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IT WORLD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="color:red">@Html.ActionLink("Susidėk savo kompiuterį!", "CreatePC", "BuildComputer")</li>
                    <li>@Html.ActionLink("Kategorijos", "About", "Home")</li>
                    <li style="text-align:center; margin-top:12px;" id="search">
                        @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                        {
                            @Html.TextBox("searching")<input type="submit" value="Ieškoti" id="search-button"/>
                        }
                    </li>
                </ul>
                <u1 class="nav navbar-nav" style="float:right !important">
                    @if (Session["UserName"] != null)
                    {
                        <ul class="nav navbar-nav">
                            <li class="cart">
                                <a href="@Url.Action("Myorder", "Shopping")" class="btn btn-lg btn-cart">
                                    <span class="glyphicon glyphicon-shopping-cart" style="color:green; padding-right: 7px;"></span><span id="krepselis">Krepšelis</span><span class="badge">@Session["count"]</span>
                                </a>
                            </li>
                        </ul>

                        <li><p style="color:#fff;margin-top:15px;text-align:center">Sveiki,</p></li>
                        <div class="dropdown">
                            <button class="dropbtn"><p style="color:#fff;margin-top:15px">@Session["UserName"]</p></button>
                            <div class="dropdown-content login-content">
                                <li>@Html.ActionLink("Mano profilis", "UserInformation", "User")</li>
                                <li>@Html.ActionLink("Keisti duomenis", "ChangeData", "User")</li>
                                <li>@Html.ActionLink("Pristatymo adresai", "DeliveryAddress", "User")</li>
                                <li>@Html.ActionLink("Užsakymai", "UserOrders", "User")</li>

                                @if (Convert.ToString(Session["Role"]) == "Administratorius")
                                {
                                    <li>@Html.ActionLink("Svetainės kontrolė", "AdminMeniu", "Admin")</li>
                                }
                                <li>@Html.ActionLink("Atsijungti", "Logout", "Home")</li>
                            </div>
                        </div>


                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li class="cart">
                                <a href="@Url.Action("Myorder", "Shopping")" class="btn btn-lg btn-cart"> 
                                    <span class="glyphicon glyphicon-shopping-cart" style="color:green; padding-right: 7px;"></span><span class="badge">@Session["count"]</span><span id="krepselis">Krepšelis</span>
                                </a>
                            </li>
                        </ul>
                        <li>@Html.ActionLink("Registracija", "Register", "Home")</li>
                        <li>@Html.ActionLink("Prisijungimas", "Login", "Home")</li>
                    }
                </u1>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/chosen.jquery.js"></script>
</body>
</html>
